<section style="background:#efefe9;">
    <div class="container">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
            <msw-navbar>
                
            </msw-navbar>
            <!-- End Navigation Area (Circular Tabs) -->

            <!-- Content Area -->
            <div class="tab-content">
                <!-- Nested view  -->
                <ui-view>
                    
                </ui-view>
            </div>
            <!-- End Content Area -->
        </div>

        <!-- For Debugging: show our formData as it is being typed -->
        <pre style="position:relative">{{ formData | json }}</pre>
    </div>
</section>