 

<div class="membership-page-top">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="membership-page-title">
                            <h1 class="page-title"> Complete Your Listing </h1>
                            <p class="page-subtitle"> Please enter your Account and Billing information to complete your membership! </p>
                        </div>
                        
                        Step 1 : Start With basics
                        <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:53%">
     
    </div>
  </div>
                        <hr>
                        <ol class="pay-step-bar">
                            <li class="pay-step-block active"><span>Place Type</span></li>
                            <li class="pay-step-block  active"><span>Bedroom</span></li>
                            <li class="pay-step-block active"><span>Bathroom</span></li>
                            <li class="pay-step-block active"><span>Location</span></li>
                            <li class="pay-step-block active "><span>Amenities</span></li>
                            <li class="pay-step-block"><span>Shared Spaces</span></li>
                           
                        </ol>
                    </div>
                </div>
            </div>

            <div class="membership-content-area">
                <form>
                    <div class="account-block" style="width:66%;">
                        <div class="add-title-tab">
                            <h3>What amenities do you offer ?</h3>
                            <div class="add-expand"></div>
                        </div>
                        <div class="add-tab-content">
                            <div class="add-tab-row push-padding-bottom">
                                <div class="row">
                                
                                  <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Essentials Towels, bed sheets, soap, and toilet paper
                                            </label>
                                        </div>
                                    </div> 
                                    <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Wifi
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                               Closet/Drawer
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Shampoo

                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Tv
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Heat
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Air conditioning
                                            </label>
                                        </div>
                                    </div>
                                  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <a uiSref="location" class="btn btn-primary btn-block"><i class="fa fa-chevron-left"></i> Back </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <a uiSref="spaces" class="btn btn-primary btn-block">Continue <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>


                                </div>
                            </div> 
                        </div>
                    </div></form></div>

