 

<div class="membership-page-top">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="membership-page-title">
                            <h1 class="page-title"> Complete Your Listing </h1>
                            <p class="page-subtitle"> Please enter your Account and Billing information to complete your membership! </p>
                        </div>
                        
                        Step 1 : Start With basics
                        <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:45%">
     
    </div>
  </div>
                        <hr>
                        <ol class="pay-step-bar">
                            <li class="pay-step-block active"><span>Place Type</span></li>
                            <li class="pay-step-block  active"><span>Bedroom</span></li>
                            <li class="pay-step-block active"><span>Bathroom</span></li>
                            <li class="pay-step-block active"><span>Location</span></li>
                            <li class="pay-step-block "><span>Amenities</span></li>
                            <li class="pay-step-block"><span>Shared Spaces</span></li>
                           
                        </ol>
                    </div>
                </div>
            </div>

            <div class="membership-content-area">
                <form>
                    <div class="account-block" style="width:66%;">
                        <div class="add-title-tab">
                            <h3>Where’s your place located?</h3>
                            <div class="add-expand"></div>
                        </div>
                        <div class="add-tab-content">
                            <div class="add-tab-row push-padding-bottom">
                                <div class="row">
                                  
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label for="property-status">Country</label>
                                               <select class="selectpicker" id="country" data-live-search="false" title="Select" name="property_type"
                                                 (change)="changeTower()" [(ngModel)]="formData.property_type"
                                               >
                                                <option value="1">Type 1</option>
                                                <option value="2">Type 2</option>
                                                <option>Type 3</option>
                                                <option>Type 4</option>
                                                <option>Type 5</option>
                                            </select>
                                        </div>
                                    </div>
                                <div class="col-sm-6">
                                      <div class="form-group">
                                            <label for="property-map">Street Address</label>
                                            <input class="form-control" id="property-map" placeholder="Enter your property title" name="property_type" [(ngModel)]="formData.property_type">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                            <label for="property-map">Apt, Suite, Bldg. (optional)</label>
                                            <input class="form-control" id="property-map" placeholder="Enter your property title">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                            <label for="property-map">City</label>
                                            <input class="form-control" id="property-map" placeholder="Enter your property title">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="property-map">State</label>
                                            <input class="form-control" id="property-map" placeholder="Enter your property title">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                      
                                    </div>
                                     <div class="col-sm-6">
                                      <div class="form-group">
                                            <label for="property-map">Zip Code</label>
                                            <input class="form-control" id="property-map" placeholder="Enter your property title">
                                        </div>
                                    </div>
                                 
                                    
                                     <div class="col-sm-6">
                                        <div class="form-group">
                                           <a uiSref="bathroom" class="btn btn-primary btn-block"><i class="fa fa-chevron-left"></i> Back </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <a uiSref="amenities" class="btn btn-primary btn-block">Continue <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div> 
                        </div>
                    </div></form></div>

